/** @format */
.sidebar {
  width: 220px;
}
.activeLinkItem {
  background: #0f6d5f;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
}
.linkItem {
  border-radius: 80px;
  font-size: 16px;
  padding: 10px 20px;
}

.icon {
  margin-right: 34px;
}
.activeIcon {
  filter: brightness(0) invert(1);
  margin-right: 34px;
}
